<% @title = "SRS Portal | Edit Profile" %>
<div style="width: 33%;" id="editProfileDiv">
  <p class="editProfileHeader">Edit Profile</p>
  <div class="container editProfileForm" style="width: 100%;">
    <%= render 'form' %>
  </div>
</div>
