<% @title = "SRS Portal | Edit Profile" %>
<div style="width: 550px;" id="editProfileDiv">
  <p class="editProfileHeader">Edit Profile</p>
  <div class="form-horizontal editProfileForm">
    <%= render 'form' %>
  </div>
</div>
