<% @title = "SRS Portal | New Bug Report" %>
<div class="defaultDiv" id="newAssignmentDiv">
  <% if current_user.admin? %>
    <%= render "form" %>
  <% else %>
    <%= render "bug_report" %>
  <% end %>
</div>