<div class="show-changelog-top">
  <p class="show-changelog-name">Website Changelog</p>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-5">2018-02-19 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-5">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added Product & Part Images to the Master File List</li>
        
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li></li>
        
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-4">2018-02-18 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-4">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added File Upload ability to all Parts</li>
        <li>Added Master File List</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li>Cleaned up table stylings</li>
        <li>There is now a distinction between regular files and images in Uploads</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-3">2018-02-17 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-3">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Testing vertical scrollbars within Products Table body</li>
        <li>Added File Upload ability to all Products</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li></li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-2">2018-02-16 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-2">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added "Quantity Range Filter" to Products Table</li>
        <li>Attributes Tab is now highlighted when attributes are present</li>
        <li>Added "Caution" dialog when inventory of an item hits zero</li>
        <li>Item ID's are viewable via tooltip in all views</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li>Additional Attributes get properly removed now when deleted</li>
        <li>Styling fixes to table toolbars</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-1">2018-02-13 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-1">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added Changelog</li>
        <li>Added SRS Navicon</li>
        <li>Quantity on Hand is now visible in Edit views</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li></li>
      </ul>
    </blockquote>
  </div>
</div>



<div class="hidden">

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-">2018-02- <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li></li>
        
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li></li>
        
      </ul>
    </blockquote>
  </div>
</div>

</div>