<% if @user.has_role? :admin %>
  <div class="show-profile-top">
    <p class="show-profile-vendor-name">Products Go Here</p>
    <p class="show-profile-description">These are Dr Sharp Products</p>
    <p class="show-profile-description">These are Ray Padula Products</p>
    <p class="show-profile-description">These are Firplak Products</p>
    <p class="show-profile-description">These are Colonial Elegance Products</p>
  </div>
<% end %>

<% if @user.has_role? :drsharp %>
  <div class="show-profile-top">
    <p class="show-profile-vendor-name">Products Go Here</p>
    <p class="show-profile-description">These are Dr Sharp Products</p>
  </div>
<% end %>