<div class="show-changelog-top">
  <p class="show-changelog-name">Website Changelog</p>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-11">2018-03-29 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-11">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Continued work on Tasks views.  'Create' is 95% done, Edit is 50% done, all others not done</li>

      </ul>
      <p><strong>Bug fixes & Optimizations:</strong></p>
      <ul>
        <li>Stockmovements correctly disable products that are already selected (Also disabled server side validation)</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-10">2018-03-01 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-10">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added custom 'ERROR' links</li>
        <li>Added agent for search engine exclusion</li>
        <li>Built groundwork for Task Creation (Ecomm Orders & Warranty Orders)</li>

      </ul>
      <p><strong>Bug fixes & Optimizations:</strong></p>
      <ul>
        <li>Stockmovement Batch SHOW page now returns vendor-specific results</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-9">2018-02-28 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-9">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added Combo Items to Master File List + color to links</li>
        <li>Added Page-Load progress bar</li>
        <li>Uploads completely rewritten to accomodate associations to anything</li>
        <li>Added individual Inventory Adjustment Batch view page</li>
        <li>Added filtering abilities to the Parts List</li>
        <li>Added "Required" notifications to some fields</li>
        <li>Minor color changes across site</li>
      </ul>
      <p><strong>Bug fixes & Optimizations:</strong></p>
      <ul>
        <li>Fixed scaling issues for smaller window sizes</li>
        <li>Fixed image upload in Edit view</li>
        <li>Attributes creation/editing is fixed and 100%</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-8">2018-02-22 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-8">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added Combo Item details to all Products views</li>
        
      </ul>
      <p><strong>Bug fixes & Optimizations:</strong></p>
      <ul>
        <li>Lots of code cleanup and Rails Helper optimizations</li>
        
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-7">2018-02-21 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-7">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added CSSO for CSS optimization</li>
        <li>Added "Combo Items" for joining Products into one SKU package, Useful for Vanities</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li>Fixed model # display in Inventory Adjustments Batch & Individual view</li>
        
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-6">2018-02-20 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-6">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Complete parts rewrite; parts can now belong to multiple products</li>
        
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li>Undoing inventory adjustments now redirects properly</li>
        
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-5">2018-02-19 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-5">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added Product & Part Images to the Master File List</li>
        
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li></li>
        
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-4">2018-02-18 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-4">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added File Upload ability to all Parts</li>
        <li>Added Master File List</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li>Cleaned up table stylings</li>
        <li>There is now a distinction between regular files and images in Uploads</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-3">2018-02-17 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-3">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Testing vertical scrollbars within Products Table body</li>
        <li>Added File Upload ability to all Products</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li></li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-2">2018-02-16 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-2">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added "Quantity Range Filter" to Products Table</li>
        <li>Attributes Tab is now highlighted when attributes are present</li>
        <li>Added "Caution" dialog when inventory of an item hits zero</li>
        <li>Item ID's are viewable via tooltip in all views</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li>Additional Attributes get properly removed now when deleted</li>
        <li>Styling fixes to table toolbars</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-1">2018-02-13 <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-1">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added Changelog</li>
        <li>Added SRS Navicon</li>
        <li>Quantity on Hand is now visible in Edit views</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li></li>
      </ul>
    </blockquote>
  </div>
</div>



<div class="hidden">

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-">2018-02- <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li></li>
        
      </ul>
      <p><strong>Bug fixes & Optimizations:</strong></p>
      <ul>
        <li></li>
        
      </ul>
    </blockquote>
  </div>
</div>

</div>