<div class="show-changelog-top">
  <p class="show-changelog-name">Website Changelog</p>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-2">(2018-02-16) <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-2">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added "Quantity Range Filter" to Products Table</li>
        <li>Attributes Tab is now highlighted when attributes are present</li>
        <li>Added "Caution" dialog when inventory of an item hits zero</li>
        <li>Item ID's are viewable via tooltip in all views</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li>Custom attributes get properly removed now when deleted</li>
        <li>Styling fixes to table toolbars</li>
      </ul>
    </blockquote>
  </div>
</div>

<div class="changelog-block">
  <h3 class="changelog_expand" id="changelog_expand-1">(2018-02-13) <span class="caret"></span></h3>
  <div class="changelog_expandable" id="changelog_expandable-1">
    <blockquote>
      <p><strong>Implemented new features:</strong></p>
      <ul>
        <li>Added Changelog</li>
        <li>Added SRS Navicon</li>
        <li>Quantity on Hand is now visible in Edit views</li>
      </ul>
      <p><strong>Fixed bugs:</strong></p>
      <ul>
        <li></li>
      </ul>
    </blockquote>
  </div>
</div>