<% @title = "SRS Portal | My Dashboard" %>
<div style="width: 850px;" id="showProfileDiv">
  <p class="showProfileHeader">My Dashboard</p>
  <div class="form-horizontal showProfileForm">
    <ul class="nav nav-tabs">
      <% if current_user.admin? %>
        <li>
      <% else %>
        <li class="active">
      <% end %>
        <a id="showProfileForm" href="#show-profile-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> My Profile</a>
      </li>
      <li><a id="showTaskForm" href="#show-task-form" class="tab-background" data-toggle="tab"><i class="fa fa-user"></i> My Tasks</a></li>
      <% if current_user.admin? and current_user == @user %>
        <li class="active"><a id="assignmentForm" href="#dashboard-assignment-form" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Website Assignments</a></li>
      <% end %>
      <li><a id="showFilesForm" href="#show-files-form" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> My Files</a></li>
    </ul>
    
    <div id="showProfileTabs">
      <div class="tab-content">
        <% if current_user.admin? and current_user == @user %>
          <div id="show-profile-form" class="tab-pane fade container">
        <% else %>
          <div id="show-profile-form" class="tab-pane fade in active container">
        <% end %>
          <%= render "show_profile_form" %>
        </div>
        <div id="show-task-form" class="tab-pane fade container">
          <%= render "show_task_form" %>
        </div>
        <% if current_user.admin? and current_user == @user %>
          <div id="dashboard-assignment-form" class="tab-pane fade in active container">
            <%= render "dashboard_assignment_form" %>
          </div>
        <% end %>
        <div id="show-files-form" class="tab-pane fade container">
          <%= render "show_files_form" %>
        </div>
      </div>
    </div>
  </div>
</div>