<div class="comment_field">
  <table class="table newUploadBatchCommentContainer">
    <thead></thead>
    <tbody>
      <tr>
        <td class="textarea-vertical"><%= f.text_area :content, hide_label: true, placeholder: "Add Comment Here" %></td>
        <td><%= remove_comment_link "X", f %></td>
      </tr>
    </tbody>
  </table>
</div>