<div class="new_customer_comment">
  <div class="comments_fields_template" style="display: none">
    <div class="show_basic_pop_fields">
      <div class="show_basic_pop_header">
        <span class="show_basic_pop_title">Comment</span>
        <span class="customer_comment_edit_remove_button" title="Remove This Comment"><i class="fa fa-close"></i></span>
      </div>
      <table class="table newCommentContainer">
        <tbody>
          <tr>
            <td class="textarea-vertical">
              <div class="form-group">
                <label class="sr-only control-label" for="customer_attributes_new_customer_comments_attributes_new_comments_content">Content</label>
                <textarea placeholder="Enter Comment..." class="form-control" name="customer[comments_attributes][new_comments][content]" id="customer_comments_attributes_new_comments_content"></textarea>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>