
<% content_for :head do %>
  <%= javascript_include_tag 'pages' %>
<% end %>
<% @title = "SRS Portal | Home Page" %>
<div id="homeDiv">
  <p class="homeHeader">Home Page</p>
  <div class="form-horizontal homeForm">
    <p>Create User Index</p>
    <p>Create Profile Views</p>
  </div>
</div>