<div class="card__body scrollTouch">
  <div class="card__contents pip-row" data-component="description">
    <div class="row-header">
      <div class="row-header__title">
        <h2 class="row-header__text">Product Overview</h2>
      </div>
    </div>
    <div class="card__card-view-only">
      <div class="overview__model-sku-internet">
        <div class="overview__model-sku-internet-item">
          <span class="overview__model-sku-internet-label">Model #:</span>
          <span class="overview__model-sku-internet-value">DSQR110BN</span>
        </div>
        <div class="overview__model-sku-internet-item">
          <span class="overview__model-sku-internet-label">Internet #:</span>
          <span class="overview__model-sku-internet-value">305164164</span>
        </div>
      </div>
    </div>
    <div class="main_description col-12 col-md-7">
      <p itemprop="description">
        Update your bathroom with this stunning Lift Bridge Kitchen and Bath Decorative Series brushed nickel exhaust bath fan that is ideal for rooms up to 125 sq. ft. This fan provides superior light with 2 E26 bulbs (bulbs sold separately), efficiently vents moisture at a very quiet 1.5 sones.
      </p>
      <p><b>This product is sold as a refurbished unit.  It has been inspected, tested, and re-boxed by the manufacturer.  Full 3 year limited warranty stands.</b></p>
      <ul class="list">
        <li class="list__item">110 CFM airflow reduces moisture</li>
        <li class="list__item">1.5 sones sound rating for quiet operation</li>
        <li class="list__item">Efficiently ventilates bathrooms up to 125 sq. ft.</li>
        <li class="list__item">4 in. duct connector with damper</li>
        <li class="list__item">Long-life ball bearing AC motor</li>
        <li class="list__item">Steel pan grille with alabaster glass lens cover</li>
        <li class="list__item">2 E26 sockets</li>
        <li class="list__item">UL and HVI listed</li>
        <li class="list__item">3 year limited warranty</li>
      </ul>
    </div>
    <div id="moreinfo_wrapper" class="col-12 col-md-5" data-component="info-and-guides">
      <div id="more-info" class="info_guides">
      	<h3 class="info_guides__title">Info &amp; Guides</h3>
      	<ul class="list list--type-plain">
					<li class="list__item"><a href="https://images.homedepot-static.com/catalog/pdfImages/3a/3a0111f6-8c5c-47c8-9123-03c186d7bedf.pdf" class="list__link" target="pdf" data-target="Installation Guide">Installation Guide</a></li>
					<li class="list__item"><a href="https://images.homedepot-static.com/catalog/pdfImages/35/353cd505-c730-4204-892a-626c9bc4c11b.pdf" class="list__link" target="pdf" data-target="Instructions / Assembly">Instructions / Assembly</a></li>
					<li class="list__item"><a href="https://images.homedepot-static.com/catalog/pdfImages/5c/5c7506c3-3d89-4898-ad45-6f8fbf61bd72.pdf" class="list__link" target="pdf" data-target="Specification">Specification</a></li>
					<li class="list__item"><a href="https://images.homedepot-static.com/catalog/pdfImages/47/4706259a-574e-4d16-b95e-3f1fa9da76e8.pdf" class="list__link" target="pdf" data-target="Warranty">Warranty</a></li>
      	</ul>
      	<p class="download_message">
      		<b>Please provide a physical street address.  We ship FedEx and cannot deliver to a PO Box or outside the continental United States</b>
      	</p>
      </div>
    </div>
  </div>
</div>