<div class="tracking_numbers_fields_template" style="display: none">
  <div class="line_item_tracking_number_fields">
    <table class="table newLineItemTrackingNumberContainer">
      <tbody>
        <tr>
          <td>
            <div class="form-group">
              <input placeholder="Add Tracking Number..."
                     class="form-control lineItemTrackingNumber"
                     type="text"
                     name="task[ecomm_orders_attributes][new_ecomm_order][line_items_attributes][new_line_item][tracking_numbers_attributes][new_tracking_numbers][tracking_number]"
                     id="task_ecomm_orders_attributes_new_ecomm_order_line_items_attributes_new_line_item_tracking_numbers_attributes_new_tracking_numbers_tracking_number">
            </div>
          </td>
          <td>
            <i class="fa fa-question-circle tracking_carrier_tooltip"></i>
            <div class="form-group">
              <%= select_tag "", options_for_select(@carriers), :include_blank => "Select Carrier...",
                                                                :class => "form-control tracking-number-carrier-select",
                                                                :name => "task[ecomm_orders_attributes][new_ecomm_order][line_items_attributes][new_line_item][tracking_numbers_attributes][new_tracking_numbers][carrier]",
                                                                :id => "task_ecomm_orders_attributes_new_ecomm_order_line_items_attributes_new_line_item_tracking_numbers_attributes_new_tracking_numbers_carrier" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <%= select_tag "", options_for_select(ship_methods), :include_blank => "Select Ship Method...",
                                                                   :class => "form-control tracking-number-ship-method-select",
                                                                   :name => "task[ecomm_orders_attributes][new_ecomm_order][line_items_attributes][new_line_item][tracking_numbers_attributes][new_tracking_numbers][shipping_method]",
                                                                   :id => "task_ecomm_orders_attributes_new_ecomm_order_line_items_attributes_new_line_item_tracking_numbers_attributes_new_tracking_numbers_shipping_method" %>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input readonly="readonly"
                     placeholder="Select Ship Date..."
                     class="form-control tracking-number-ship-date-datepicker taskDefaultDatepicker"
                     type="text"
                     name="task[ecomm_orders_attributes][new_ecomm_order][line_items_attributes][new_line_item][tracking_numbers_attributes][new_tracking_numbers][ship_date]"
                     id="task_ecomm_orders_attributes_new_ecomm_order_line_items_attributes_new_line_item_tracking_numbers_attributes_new_tracking_numbers_ship_date">
            </div>
          </td>
          <td>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">$<i class="fa fa-question-circle tracking_cost_tooltip"></i></span>
                <input min="0"
                       placeholder="Shipping Cost..."
                       value="0.00"
                       step="0.01"
                       class="form-control lineItemTrackingNumberCost"
                       type="number"
                       required="required"
                       name="task[ecomm_orders_attributes][new_ecomm_order][line_items_attributes][new_line_item][tracking_numbers_attributes][new_tracking_numbers][shipping_cost]"
                       id="task_ecomm_orders_attributes_new_ecomm_order_line_items_attributes_new_line_item_tracking_numbers_attributes_new_tracking_numbers_shipping_cost">
              </div>
            </div>
          </td>
          <td>
            <input type="hidden"
                   value="false"
                   name="task[ecomm_orders_attributes][new_ecomm_order][line_items_attributes][new_line_item][tracking_numbers_attributes][new_tracking_numbers][_destroy]"
                   id="task_ecomm_orders_attributes_new_ecomm_order_line_items_attributes_new_line_item_tracking_numbers_attributes_new_tracking_numbers__destroy">
            <a class="remove_child_line_item_tracking_number" href="javascript:void(0)"><i class="fa fa-close"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>