<%= form_with(model: stockmovement_batch, local: true) do |form| %>
  <% if stockmovement_batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stockmovement_batch.errors.count, "error") %> prohibited this stockmovement_batch from being saved:</h2>

      <ul>
      <% stockmovement_batch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
