<% @title = "SRS Portal | Inventory Adjustments" %>
<div class="defaultDiv" id="newIADiv">
  <p class="defaultDivHeader">Inventory History</p>
  <div class="container defaultForm">
      <ul class="nav nav-tabs">
        <li class="active"><a id="adjustHistory" href="#adjust-history" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Batch History</a></li>
        <li><a id="adjustHistoryIndividual" href="#adjust-history-individual" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf-o"></i> Individual History</a></li>
      </ul>
      <div class="defaultTabs">
        <div class="tab-content">
          <div id="adjust-history" class="tab-pane fade in active">
            <%= render "adjust_history" %>
          </div>
          <div id="adjust-history-individual" class="tab-pane fade">
            <%= render "adjust_history_individual" %>
          </div>
        </div>
      </div>
  </div>
</div>