//------------------------------------------------------------------------------------------------------
//                               Customer 'NEW' related CSS                                            |
//------------------------------------------------------------------------------------------------------

#newCustomerDiv {
  width: 700px;
}

//                            New Customer 'Form' related CSS                                          |

.new_customer_container {
  margin: 25px 0 10px 0;
}

.new_customer_basic_details {
  margin: 30px 0 20px 0;
}

.customer_add_attributes_button {
  margin: -15px 0 0 409px;
  color: #255aad;
  cursor: pointer;
  user-select: none;
  &:active {
    color: green;
  }
}
.customer_add_comment_button, .customer_edit_add_comment_button {
  margin: -15px 0 0 526px;
  color: #255aad;
  cursor: pointer;
  user-select: none;
  &:active {
    color: green;
  }
}

.customer_comment_remove_button, .customer_attributes_remove_button, .customer_comment_edit_remove_button {
  margin: -12px 0 0 588px;
  color: red;
  cursor: pointer;
  user-select: none;
  &:active {
    color: green;
  }
}


.customerTableContainer {
  width: 100%;
  padding: 0 5px 0 0;
}

#newCustomerTable {
  table-layout: fixed !important;
  width: 100%;
  margin: 0 0 10px 5px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 1px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);

  tbody tr td:nth-child(1) { // Left Column "Description"
    text-align: right;
    background-color: #fafafa;
    width: 30%;
  }
  tbody tr td:nth-child(2) { // Right Column "Inputs"
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
      select {
        border: none;
        border-radius: 0;
        padding-left: 8px;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
  tbody tr {
    background-color: #eee;
  }
  tbody tr:nth-child(6) { // 6-Zipcode
    td:first-child {
      .fa-question-circle {
        font-size: 1em;
        position: relative;
        bottom: 8px;
        left: 6px;
        color: #255aad;
        &:hover {
          color: red;
        }
        &:active {
          color: green;
        }
      }
    }
  }
  tbody tr:nth-child(12) { // 12-Latitude
    td:first-child {
      .fa-question-circle {
        font-size: 1em;
        position: relative;
        bottom: 8px;
        left: 6px;
        color: #255aad;
        &:hover {
          color: red;
        }
        &:active {
          color: green;
        }
      }
    }
  }
  tbody tr:nth-child(9) td:last-child {
    select {
      width: 100%;
    }
  }
}

.newCustomerAttributeContainer { // 1-Attribute Name | 2-Description | 3-Remove
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em !important;
  border-top: 0;
  border-right: 1px solid #b5b5f7;
  border-bottom: 0;
  border-left: 0;
  tbody tr td {
    border-top: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #b5b5f7;  
  }
  tbody tr td:first-child { // 1-Attribute Name
    padding: 0;
    width: 30%;
    input {
      width: 100%;
      padding: 6px 8px 6px 6px;
      border: none;
      border-radius: 0;
      text-align: right;
      background-color: #fafafa;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(2) { // 2-Description
    padding: 0;
    input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(3) { // 3-Remove
    padding: 0;
    margin: 0;
    border-right: 0;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    font-size: 1.5em;
    cursor: pointer;
    color: red;
    a {
      color: red;
    }
  }
}

#customerFirstSubmit {
  float: right;
}

//------------------------------------------------------------------------------------------------------
//                               Customer 'EDIT' related CSS                                            |
//------------------------------------------------------------------------------------------------------

#editCustomerDiv {
  width: 700px;
}

.editCustomerTabs {
  padding: 30px 15px 15px 15px;
}

.edit_customer_container {
  margin: 25px 0 10px 0;
}

.edit_customer_basic_details {
  margin: 30px 0 20px 0;
}


.edit_customer_add_attributes_button {
  margin: -15px 0 0 409px;
}

.edit_customer_add_comment_button {
  margin: -15px 0 0 526px;
}


#editCustomerFirstSubmit {
  float: right;
}

//------------------------------------------------------------------------------------------------------
//                               Customer 'SHOW' related CSS                                            |
//------------------------------------------------------------------------------------------------------

#showCustomerDiv {
  width: 800px;
}

#show-customer-form {
  padding: 0 15px 0 0;
}

#showCustomerTable {
  margin: 0 0 10px 5px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 1px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    width: 35%;
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.show_customer_fields {
  width: 100%;
  border: 2px solid #7395bb;
  border-radius: 15px;
  background-color: #efede6;
  padding: 0 10px 0 10px;
  margin: 30px 0 5px 0;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  .customer_header {
    margin-bottom: 10px;
    cursor: context-menu;
    span, a {
      position: absolute;
      font-family: 'Abel', sans-serif;
      font-size: 1.3em;
      font-weight: bold;
      width: fit-content;
      background: white;
      padding: 0 6px 0 6px;
      border: 2px solid #7395bb;
      border-radius: 5px;
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
      .fa-question-circle {
        font-size: 0.7em;
        position: relative;
        bottom: 7px;
        left: 4px;
        &:hover {
          color: red;
        }
        &:active {
          color: green;
        }
      }
    }
    .customer_title {
      margin: -15px 0 0 8px;
    }
    .edit_customer_button {
      margin: -15px 0 0 548px;
      color: #255aad;
      cursor: pointer;
      user-select: none;
      &:active {
        color: green;
      }
    }
  }
  .customer_basic_details {
    border: 2px solid #bbbec1;
    border-radius: 10px;
    background-color: white;
    margin: 30px 0 20px 0;
    padding: 10px 15px 0 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    .customer_basic_details_header {
      border: 2px solid #bbbec1;
      border-radius: 5px;
      margin: -21px 0 10px 13px;
      padding: 0 6px 0 6px;
      background: white;
      width: fit-content;
      font-weight: bold;
      font-family: 'Abel', sans-serif;
      font-size: 0.9em;
      cursor: context-menu;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    }
  }
}

#showCustomerAttributes {
  margin: 0 0 5px 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 1px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    width: 35%;
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

#showCustomerComments {
  margin: 0 0 5px 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 1px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

//------------------------------------------------------------------------------------------------------
//                               Customer 'INDEX' related CSS                                            |
//------------------------------------------------------------------------------------------------------

.customersTable {
  width: 100%;
  padding: 20px 0 20px 0px;
  background-color: #d1dbe4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 30px;
}

.customers-table {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  tr td {
    border-right: 1px solid #ccc;
  }
}

.customers-toolbar {
  float: left;
  margin-right: 4px;
  padding-left: 30px;
  display: inline;
  .nav {
    border-bottom: 0 !important;
  }
}

.customer-listing-expando {
  width: 95%;
  padding-top: 0;
  padding-bottom: 5px;
  border-top: 0;
  border-right: 2px solid #b5b5f7;
  border-left: 2px solid #b5b5f7;
  border-bottom: 2px solid #b5b5f7 !important;
  margin-bottom: 5px !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  thead tr {
    th {
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      background-color: #eceaff;
      color: black;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)
    }
    th:last-child {
      border-right: 0;
    }
  }
  tbody tr td {
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #ddd;
  }
}

#customersSearch {
  color: black;
  font-family: 'Abel', sans-serif;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  margin: 5px;
}
#customersLength {
  font-family: 'Abel', sans-serif;
  width: 55px;
  margin: 5px 10px 5px 10px;
  padding-right: 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15)
}