
// Home Page (not logged in) CSS

#newSessionDiv {
  width: 400px;
  padding-top: 60px;
  margin: auto;
}

.newSessionForm {
  width: 100%;
  padding: 20px;
  background-color: #d1dbe4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  form .form-group {
    color: #252525;
    font-family: 'Abel', sans-serif;
    font-size: 1.1em;
  }
}

