//------------------------------------------------------------------------------------------------------
//                               Product 'NEW' related CSS                                             |
//------------------------------------------------------------------------------------------------------

#newProductDiv {
  width: 1060px;
}


//                            New Product 'Form' related CSS                                           |

.productTableContainer {
  width: 100%;
  padding: 0;
}
#newProductTableLeft {
  table-layout: fixed !important;
  width: 50%;
  float: left;
  margin: 0 0 10px -7.5px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border-top: 2px solid #b5b5f7;
  border-bottom: 2px solid #b5b5f7;
  border-left: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);

  tbody tr td:nth-child(1) { // Left Column "Description"
    text-align: right;
    background-color: #fafafa;
    width: 30%;
  }
  tbody tr td:nth-child(2) { // Right Column "Inputs"
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
      select {
        border: none;
        border-radius: 0;
        padding-left: 8px;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
  tbody tr {
    background-color: #eee;
  }
  tbody tr:nth-child(9) { // Weight row
    td:nth-child(2) {
      display: inline-flex;
      width: 100%;
      border: none;
      .form-group {
        width: 50%;
        .input-group .input-group-addon {
          border-radius: 0;
          font-weight: bold;
          border-top: 0;
          border-bottom: 0;
          background-color: #fafafa;
        }
      }
      .form-group:first-child {
        .input-group .input-group-addon {
          border-right: 1px solid #ccc;
          border-left: 0;
        }
      }
      .form-group:last-child {
        .input-group .input-group-addon {
          border-right: 0;
          border-left: 0;
        }
      }
    }
  }
  tbody tr:nth-child(10) td:last-child { // Image Row
    background-color: white;
    border-right: 2px solid #b5b5f7;
    div input {
      padding: 6px 6px 10px 6px;
      background-color: white;
    }
  }
}

#newProductTableRight {
  width: 47.5%;
  float: right;
  position: absolute;
  right: 39px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border-top: 2px solid #b5b5f7;
  border-right: 2px solid #b5b5f7;
  border-bottom: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) { // Left Column "Description"
    text-align: right;
    width: 30%;
    background-color: #fafafa;
  }
  tbody tr td:nth-child(2) { // Right Column "Inputs"
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
      select {
        border: none;
        border-radius: 0;
        padding-left: 8px;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
  tbody tr:nth-child(1) { // Product Dimensions row
    td:nth-child(2) {
      display: inline-flex;
      width: 100%;
      border: none;
      .form-group {
        width: 33.3333%;
        .input-group .input-group-addon {
          border-radius: 0;
          font-weight: bold;
          border-top: 0;
          border-bottom: 0;
          background-color: #fafafa;
        }
      }
      .form-group:first-child {
        .input-group .input-group-addon {
          border-left: 0;
          border-right: 0;
        }
      }
      .form-group:nth-child(2), .form-group:last-child {
        .input-group .input-group-addon {
          border-left: 1px solid #ccc;
          border-right: 0;
        }
      }
    }
  }
  tbody tr:nth-child(2) { // Packaged Dimensions row
    td:nth-child(2) {
      display: inline-flex;
      width: 100%;
      border: none;
      .form-group {
        width: 33.3333%;
        .input-group .input-group-addon {
          border-radius: 0;
          font-weight: bold;
          border-top: 0;
          border-bottom: 0;
          background-color: #fafafa;
        }
      }
      .form-group:first-child {
        .input-group .input-group-addon {
          border-left: 0;
          border-right: 0;
        }
      }
      .form-group:nth-child(2), .form-group:last-child {
        .input-group .input-group-addon {
          border-left: 1px solid #ccc;
          border-right: 0;
        }
      }
    }
  }
  tbody tr:nth-child(3), tbody tr:nth-child(4), tbody tr:nth-child(5) { // Currency Rows
    td:nth-child(2) {
      .form-group .input-group .input-group-addon {
          border-radius: 0;
          font-weight: bold;
          border-top: 0;
          border-bottom: 0;
          border-left: 0;
          background-color: #fafafa;
      }
    }
  }
}

#vendorSelect, #brandSelect { // The select box that lists each Vendor or Brand
  border: none;
  border-radius: 0;
  option {
    font-weight: bold;
  }
  option:empty { // Removes blank entries that can possibly be generated by the controllers @vendor and @brand actions
    display:none;
  }
  &:focus {
    box-shadow: inset 0px 0px 5px solid #b5b5f7;
  }
}

#productAttributeContainer {
  width: 60%;
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border-left: 2px solid #b5b5f7;
  border-right: 2px solid #b5b5f7;
  tbody tr td {
    border-top: 0;
    border-bottom: 0;
  }
  tbody tr td:first-child { // Left Column "Attribute Name"
    padding: 0;
    input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(2) { // Second Column "Description"
    padding: 0;
    span {
      width: 100% !important;
    }
    input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:last-child { // Right Column "Delete Entry"
    a {
      cursor: pointer;
      padding: 6px;
      color: red;
      margin: 0;
    }
  }
}

.productAttributeTopBorder {
  width: 60%;
  padding-top: 10px;
  margin: 0;
  border-bottom: 2px solid #b5b5f7;
}

.productAttributeBottomBorder {
  width: 60%;
  padding-bottom: 5px;
  margin: 0;
  border-top: 2px solid #b5b5f7;
}

#new-product-uploads {
  padding: 0 20px 0 10px;
}

.add_file_button {
  margin-bottom: 10px;
}

.productFilesContainer {
  padding: 0 21px 5px 10px;
}

//------------------------------------------------------------------------------------------------------
//                               Product 'EDIT' related CSS                                            |
//------------------------------------------------------------------------------------------------------

#editProductDiv {
  width: 1060px;
}

#editImageOptions {
  border: 0 0 1px 0 solid #ccc;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-radius: 0;
  &:focus {
    box-shadow: inset 0px 0px 5px solid #b5b5f7;
  }
}

.image-border {
  width: fit-content;
  background-color: white;
  margin: 5px;
  padding: 2px;
  border: 2px solid #b5b5f7;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.image-border-red {
  border: 2px solid red;
  background: #cacaca;
  a img {
    opacity: 0.35;
  }
}





#productFilesContainer { // 1-File Name/File Select | 2-Description | 3-Remove
  width: 100%;
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  border-right: 2px solid #b5b5f7;
  border-left: 2px solid #b5b5f7;
  thead tr th {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  tbody tr td {
    .form-group {
      margin: 0;
    }
  }
  tbody tr td:first-child { // 1-File Name/File Select
    width: 350px;
    border-right: 1px solid #ddd;
    padding: 0;
    .form-group input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(2) { // 2-Description
    padding: 0;
    border-right: 1px solid #ddd;
    .form-group input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:last-child { // 3-Remove
    width: 175px;
    padding: 7px;
    font-weight: bold;
    .checkbox {
      color: red;
      margin: 0;
    }
  }
}

.newFileContainer {
  width: 100%;
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  border-top: 0 !important;
  border-right: 2px solid #b5b5f7;
  border-left: 2px solid #b5b5f7;
  tbody tr td {
    .form-group {
      margin: 0;
    }
  }
  tbody tr td:first-child { // Left Column "File Name/File Select"
    width: 347px;
    padding: 0;
    border-right: 1px solid #ddd;
    .form-group input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(2) { // Second Column "Description"
    padding: 0;
    border-right: 1px solid #ddd;
    .form-group input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:last-child { // Right Column "Delete Entry"
    width: 175px;
    padding: 7px;
    .checkbox {
      color: red;
      margin: 0;
    }
  }
}

.productFilesTopBorder {
  width: 994px;
  padding-top: 10px;
  margin: 0;
  border-bottom: 2px solid #b5b5f7;
}

.productFilesBottomBorder {
  width: 994px;
  padding-bottom: 5px;
  margin: 0;
  border-top: 2px solid #b5b5f7;
}

//------------------------------------------------------------------------------------------------------
//                               Product 'SHOW' related CSS                                            |
//------------------------------------------------------------------------------------------------------

#showProductDiv {
  width: 850px;
}

//                               'SHOW_PRODUCT_FORM' related CSS                                       |

#show-product-form {
  padding: 15px 15px 5px 0;
}

.show-product-top {
  width: 100%;
  margin-bottom: 0;
  margin-top: 5px;
}
.show-product-brand-name {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.show-product-description {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

#show-product-wrapper {
  float: right;
  width: 49%;
}

#showProductTable {
  width: 49%;
  float: left;
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr:nth-child(1) {
    text-align: center;
    td div {
      display: inline-flex;
      form:first-child {
        margin-right: 5px;
      }
    }
  }
  tbody tr td:nth-child(1) {
    width: 35%;
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(1) {
    td {
      text-align: center;
    }
  }
}

.firstRowFix { // When the "Edit This Product" button isn't visible for non-employees, this fixes the alignment issue
  td:first-child {
    text-align: right !important;
  }
  td:last-child {
    text-align: left !important;
  }
}

.show-image {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  margin-top: 0;
  border: 2px solid #b5b5f7;
  background: white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  img {
    display: block;
    margin: auto;
  }
}

#showProductNotes {
  margin: 20px 0 20px 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

#showProductAttributes, #showProductComboItems, #showProductUploads {
  margin-bottom: 20px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    width: 35%;
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(1) {
    td {
      text-align: center;
    }
  }
}

//                               'SHOW_PART_FORM' related CSS                                          |

#show-product-part-form {
  padding: 15px 15px 0 0;
}

.show-product-part-top {
  width: 100%;
  margin-bottom: 0;
  margin-top: 5px;
  display: inline-flex;
}

.show-product-new-part-button {
  margin-top: 1px;
  margin-left: 15px;
  padding: 5px;
}

.show-product-part-wrapper {
  float: right;
  width: 49%;
  padding: 15px 0 15px 0;
}

.show-product-no-part-wrapper {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 15px;
}

.showProductPartTable {
  width: 49%;
  float: left;
  margin: 15px 0 5px 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr:nth-child(1) {
    text-align: center;
    td div {
      display: inline-flex;
      form:first-child {
        margin-right: 5px;
      }
    }
  }
  tbody tr td:nth-child(1) {
    text-align: right;
    width: 35%;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.show-part-edit-button {
  text-align: center !important;
  font-size: 1.1em;
  font-weight: bold;
}

.show-product-part-image {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  margin-top: 0;
  border: 2px solid #b5b5f7;
  background: white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  img {
    display: block;
    margin: auto;
  }
}

#showProductPartNotes {
  margin-top: 15px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

#showProductPartExtras {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    width: 35%;
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(1) {
    td {
      text-align: center;
    }
  }
}

//                               'SHOW_PRODUCT_UPLOADS' related CSS                                    |



//                               'SHOW_MOVEMENT_HISTORY' related CSS                                   |

#showProductInventoryHistory {
  width: 60%;
  margin-left: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Abel', sans-serif;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  thead tr th {
    font-weight: bold;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

//                               'SHOW_RECENT_ORDERS' related CSS                                      |


//------------------------------------------------------------------------------------------------------
//                              Product 'INDEX' related CSS                                            |
//------------------------------------------------------------------------------------------------------

.productsTable {
  width: 100%;
  padding: 20px 0 20px 0px;
  background-color: #d1dbe4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 30px;
}

.product-table {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  tr td {
    border-right: 1px solid #ccc;
  }
}

.products-toolbar {
  position: relative;
  bottom: -7px;
  font-family: 'Abel', sans-serif;
  float: left;
  display: inline;
  padding-left: 5px;
  .nav {
    border-bottom: 0 !important;
    li .productsFilterBy {
      margin: 0;
      padding: 6px 12px 6px 12px;
      cursor: context-menu;
      font-weight: bold;
      color: black;
      border-top: 1px solid #ccc;
      border-right: 0;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: linear-gradient(to bottom, white, #d5dfe7);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    li .productsQuantityRangeFilter {
      button {
        margin: 0;
        border-right: 0;
        border-radius: 0;
      }
      ul {
        border: 2px solid #2e353d;
        li {
        width: 200px;
        margin: 0 5px 0 5px;
        border: 2px solid #2e353d;
        .input-quantity input {
          border-radius: 0;
          border: 0;
        }
        }
      }
    }
    li .brandFilter {
      button {
      margin: 0;
      border-right: 0;
      border-radius: 0;
      }
      .productsBrandFilterMenu {
        padding: 5px;
        border-top: 0;
        border-right: 2px solid #2e353d;
        border-bottom: 2px solid #2e353d;
        border-left: 2px solid #2e353d;
        li {
          padding: 0;
          border-right: 2px solid #2e353d;
          border-bottom: 2px solid #2e353d;
          border-left: 2px solid #2e353d;
          text-align: center;
          background: linear-gradient(to bottom, #d6d6d6, #e4e4e4);
          color: #a92b04;
          &:hover {
            background: linear-gradient(to top, #d6d6d6, #e4e4e4);
          }
          &.selected {
            background: linear-gradient(to bottom, white, #f3f3f3);
            color: #165407;
            &:hover {
              background: linear-gradient(to top, white, #f3f3f3);
            }
          }

          &:first-child {
            border-top: 2px solid #2e353d;
          }
          label {
            padding: 5px;
            margin: 0;
            width: 140px;
            user-select: none;
            input {
              display: none;
            }
          }
        }
      }
    }
    li .booleanFilter {
      button {
      margin: 0;
      border-right: 0;
      border-radius: 0;
      }
      .booleanFilterMenu {
        padding: 5px;
        border-top: 0;
        border-right: 2px solid #2e353d;
        border-bottom: 2px solid #2e353d;
        border-left: 2px solid #2e353d;
        li {
          display: inline-flex;
          padding: 0;
          border-right: 2px solid #2e353d;
          border-bottom: 2px solid #2e353d;
          border-left: 2px solid #2e353d;
          text-align: center;
          background: linear-gradient(to bottom, #d6d6d6, #e4e4e4);
          color: #a92b04;
          &:hover {
            background: linear-gradient(to top, #d6d6d6, #e4e4e4);
          }
          &.selected {
            background: linear-gradient(to bottom, white, #f3f3f3);
            color: #165407;
            &:hover {
              background: linear-gradient(to top, white, #f3f3f3);
            }
          }

          &:first-child {
            border-top: 2px solid #2e353d;
          }
          label {
            padding: 5px;
            margin: 0;
            width: 140px;
            user-select: none;
            &.nil {
              color: #255aad;
            }
            input {
              display: none;
            }
          }
          button {
            width: 41%;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}


#productTableSearch {
  font-family: 'Abel', sans-serif;
  color: black;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  margin-left: 9px;
}
#productTableLength {
  font-family: 'Abel', sans-serif;
  width: 55px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15)
}

// Hacky fix to remove the Searchable column because removing the column in the DataTables JS isnt working
#productsDataTable_wrapper {
  .dt-buttons .dt-button-collection .dt-button:nth-child(14) {
    display: none;
  }
}

// Export & Column Visibility buttons on toolbar
#productsDataTable_wrapper .dt-buttons {
  position: relative;
  bottom: -7px;
  .buttons-colvis {
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: linear-gradient(to bottom, white, #f3f3f3);
  }
  .dtExportOptions {
    margin-left: 10px;
    padding: 6px 12px 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: linear-gradient(to bottom, white, #f3f3f3);
  }
  .dt-button-collection {
    margin-top: 0;
    padding: 5px;
    border-right: 2px solid #2e353d;
    border-bottom: 2px solid #2e353d;
    border-left: 2px solid #2e353d;
    border-radius: 4px;
    display: inline-grid;
    .dt-button {
      padding: 5px;
      margin: 0;
      font-family: 'Abel', sans-serif;
      font-weight: bold;
      text-align: center;
      color: #a92b04;
      border-top: 1px solid #2e353d;
      border-right: 2px solid #2e353d;
      border-bottom: 1px solid #2e353d;
      border-left: 2px solid #2e353d;
      border-radius: 0;
      background: linear-gradient(to bottom, #d6d6d6, #e4e4e4);
      &:first-child {
        border-top: 2px solid #2e353d;
      }
      &:last-child {
        border-bottom: 2px solid #2e353d;
      }
      &.active {
        background: linear-gradient(to bottom, white, #f3f3f3);
        color: #165407;
        &:hover {
          background: linear-gradient(to top, white, #f3f3f3);
        }
      }
      &:hover {
        background: linear-gradient(to top, #d6d6d6, #e4e4e4);
        text-decoration: none;
      }

    }
    .buttons-excel, .buttons-pdf, .buttons-print, .buttons-copy {
      background: linear-gradient(to bottom, white, #f3f3f3);
      color: #165407;
      &:hover {
        background: linear-gradient(to top, white, #f3f3f3);
      }
    }
  }
  .dtColumnVisibility {
    border-left: 0;
    margin-left: 0;
    padding: 6px 12px 6px 12px;
  }
}

.product-listing-expando {
  width: 95%;
  padding-top: 0;
  padding-bottom: 5px;
  border-top: 0;
  border-right: 2px solid #b5b5f7;
  border-left: 2px solid #b5b5f7;
  border-bottom: 2px solid #b5b5f7 !important;
  margin-bottom: 5px !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  thead tr {
    th {
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      background-color: #eceaff;
      color: black;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)
    }
    th:last-child {
      border-right: 0;
    }
  }
  tbody tr td {
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #ddd;
  }
}

.defaultExpandoInnerTable { // Also used across other Expando views
  width: 100%;
  font-size: 0.9em;
  thead tr th {
    border-bottom: 1px solid black;
    border-right: 1px solid #ccc;
    background-color: #fffdea;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3)

  }
  tbody tr {
    border-bottom: 1px solid #ccc !important;
    td {
      border-bottom: 1px solid #ccc !important;
    }
  }
  tbody tr:last-child {
    border-bottom: 0 !important;
    td {
      border-bottom: 0 !important;
    }
  }
}
