//------------------------------------------------------------------------------------------------------
//                               Product 'NEW' related CSS                                             |
//------------------------------------------------------------------------------------------------------

#newProductDiv {
  padding-left: 0;
  position: absolute;
  left: -1000px;
  opacity: 0;
}

.newProductHeader {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border-top-right-radius: 30px;
  border-bottom: 4px solid #d19b3d;
  background-image: url("gray-texture-1.jpg");
  color: #e1ffff;
  padding: 15px;
  margin-bottom: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#newProductForm, #newProductUploads, #newPartForm {
  border: 1px #181c20;
  padding: 7px;
}

#newProductTabs {
  background-color: white;
  padding: 0 0 10px 15px;
  margin: 0 0 10px -15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.newProductForm {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #d1dbe4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 30px;
}

#newProductTableLeft {
  width: 50%;
  float: left;
  margin: 0 0 15px -7.5px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  border-left: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);

  tbody tr td:nth-child(1) { // Left Column "Description"
    text-align: right;
    background-color: #e6e6e5;
    width: 30%;
  }
  tbody tr td:nth-child(2) { // Right Column "Inputs"
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px #ff9800;
        }
      }
      select {
        border: none;
        border-radius: 0;
        padding-left: 8px;
        &:focus {
          box-shadow: inset 0px 0px 5px #ff9800;
        }
      }
    }
  }
  tbody tr {
    background-color: #eee;
  }
  tbody tr:nth-child(1) { // Top Row "Product Details"
    td {
      text-align: center;
      background-color: #e6e6e5;
      padding-bottom: 11px;
    }
  }
  tbody tr:nth-child(10) { // Weight row
    td:nth-child(2) {
      display: inline-flex;
      width: 100%;
      .form-group {
        width: 50%;
        .input-group .input-group-addon {
          border-radius: 0;
          font-weight: bold;
          border-top: 0;
          border-bottom: 0;
          background-color: #e6e6e5;
        }
      }
      .form-group:first-child {
        .input-group .input-group-addon {
          border-right: 1px solid #ccc;
          border-left: 0;
        }
      }
      .form-group:last-child {
        .input-group .input-group-addon {
          border-right: 0;
          border-left: 0;
        }
      }
    }
  }
}

#newProductTableRight {
  width: 47%;
  float: right;
  position: absolute;
  right: 43px;
  margin: 0 0 15px -7.5px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border-top: 2px solid orange;
  border-right: 2px solid orange;
  border-bottom: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) { // Left Column "Description"
    text-align: right;
    width: 30%;
    background-color: #e6e6e5;
  }
  tbody tr td:nth-child(2) { // Right Column "Inputs"
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px #ff9800;
        }
      }
      select {
        border: none;
        border-radius: 0;
        padding-left: 8px;
        &:focus {
          box-shadow: inset 0px 0px 5px #ff9800;
        }
      }
    }
  }
  tbody tr:nth-child(1) { // Product Dimensions row
    td:nth-child(2) {
      display: inline-flex;
      width: 100%;
      .form-group {
        width: 33.3333%;
        .input-group .input-group-addon {
          border-radius: 0;
          font-weight: bold;
          border-top: 0;
          border-bottom: 0;
          background-color: #e6e6e5;
        }
      }
      .form-group:first-child {
        .input-group .input-group-addon {
          border-left: 0;
          border-right: 0;
        }
      }
      .form-group:nth-child(2), .form-group:last-child {
        .input-group .input-group-addon {
          border-left: 1px solid #ccc;
          border-right: 0;
        }
      }
    }
  }
  tbody tr:nth-child(2) { // Packaged Dimensions row
    td:nth-child(2) {
      display: inline-flex;
      width: 100%;
      .form-group {
        width: 33.3333%;
        .input-group .input-group-addon {
          border-radius: 0;
          font-weight: bold;
          border-top: 0;
          border-bottom: 0;
          background-color: #e6e6e5;
        }
      }
      .form-group:first-child {
        .input-group .input-group-addon {
          border-left: 0;
          border-right: 0;
        }
      }
      .form-group:nth-child(2), .form-group:last-child {
        .input-group .input-group-addon {
          border-left: 1px solid #ccc;
          border-right: 0;
        }
      }
    }
  }
  tbody tr:nth-child(3), tbody tr:nth-child(4), tbody tr:nth-child(5) { // Currency Rows
    td:nth-child(2) {
      .form-group .input-group .input-group-addon {
          border-radius: 0;
          font-weight: bold;
          border-top: 0;
          border-bottom: 0;
          border-left: 0;
          background-color: #e6e6e5;
      }
    }
  }
}

#vendorSelect, #brandSelect {
  border: none;
  border-radius: 0;
  &:focus {
    box-shadow: inset 0px 0px 5px #ff9800;
  }
}