//-----------------------------------------------------------------------------------
//                      START 'EDIT PROFILE' JS                                     |
//-----------------------------------------------------------------------------------

#editProfileDiv {
  width: 600px;
}

#editProfileTable {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  margin-bottom: 15px;
  border-collapse: inherit;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td {
    border-top: 1px solid #ddd;
    border-bottom: 0;
    border-right: 1px solid #ddd;
    border-left: 0;
  }
  tbody tr td:nth-child(1) { // Left Column "Description"
    text-align: right;
    background-color: #fafafa;
    width: 30%;
  }
  tbody tr td:nth-child(2) { // Right Column "Inputs"
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
      select {
        border: none;
        border-radius: 0;
        padding-left: 8px;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
  tbody tr {
    background-color: #eee;
  }
}

.phone_css {
  display: inline-flex;
  width: 100%;
  .form-group {
    width: 50%;
    .input-group .input-group-addon {
      border-radius: 0;
      font-weight: bold;
      border-top: 0;
      border-bottom: 0;
      background-color: #fafafa;
    }
  }
  .form-group:last-child {
    .input-group .input-group-addon {
      border-right: 0;
      border-left: 1px solid #ccc;
    }
  }
}

