//------------------------------------------------------------------------------------------------------
//                               Stockmovement Batch 'SHOW' related CSS                                |
//------------------------------------------------------------------------------------------------------

#showStockmovementBatchDiv {
  width: 1000px;
}

#showBatchInfoTable {
  margin: 25px 0 15px -10px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    width: 130px;
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(4) td:last-child {
    padding: 8px 8px 8px 0;
    span {
      padding: 8px;
    }
  }
}

#showBatchItemsTable {
  margin: 20px 0 15px -10px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  thead {
    font-weight: bold;
    font-size: 1.1em;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

//------------------------------------------------------------------------------------------------------
//                               "Inventory Adjustments" related CSS                                   |
//------------------------------------------------------------------------------------------------------


#newIADiv {
  width: 1200px;
}

.newIAContainer {
  width: 100%;
  padding-left: 0;
}

#newIASelectTable {
  margin: 15px 0 5px 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr {
    background-color: #eee;
  }
  tbody tr td:nth-child(1) { // Left Column "Description"
    text-align: right;
    background-color: #fafafa;
    width: 15%;
  }
  tbody tr td:nth-child(2) { // Middle Column "Stockmovement Type"
    padding: 0;
    width: 25%;
    select {
      border: none;
      border-radius: 0;
      padding-left: 8px;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(3) { // Right Column "Notes"
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
}

.IAItemSelectHeader {
  margin: 15px 0 0 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border-top: 2px solid #b5b5f7;
  border-right: 2px solid #b5b5f7;
  border-bottom: 0;
  border-left: 2px solid #b5b5f7;
  thead tr {
    border-bottom: 0;
  }
  thead tr th {
    border-top: 0;
    border-bottom: 0;
  }
  thead tr th:first-child {
    width: 106px;
  }
  thead tr th:nth-child(2) {
    width: 442px;
  }
  thead tr th:nth-child(3), thead tr th:nth-child(4), thead tr th:nth-child(5) {
    width: 77px;
  }
}


.IAItemSelectContainer {
  table-layout: fixed !important;
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border-left: 2px solid #b5b5f7;
  border-right: 2px solid #b5b5f7;
  tbody tr td {
    border-top: 0;
    border-bottom: 0;
  }
  tbody tr td:first-child { // Left Column "Item Type"
    padding: 0;
    width: 106px;
    select {
      border: none;
      border-radius: 0;
      padding-left: 8px;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(2) { // Second Column "Item Select"
    padding: 0;
    width: 442px;
    span {
      width: 100% !important;
    }
    select {
      border: none;
      border-radius: 0;
      padding-left: 8px;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(3)  { // Right Columns "Quantities"
    padding: 0;
    width: 77px;
    margin: 0;
    input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(4), tbody tr td:nth-child(5) { // Right Columns "Quantities"
    padding: 0;
    width: 77px;
    margin: 0;
    .form-group {
      margin: 0;
      input {
        padding: 6px 2px 6px 6px;
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
  tbody tr td:last-child { // Right Column "Delete Entry"
    a {
      padding: 6px;
      color: red;
      margin: 0;
    }
  }
}

.IAItemSelectBottomBorder {
  padding-bottom: 5px;
  margin: 0;
  border-top: 2px solid #b5b5f7;
}

#addItemButton {
  margin-bottom: 0;
  margin-left: 5px;
  padding: 5px;
  border-radius: 10px;
}

.current-quantity {
  background-color: white !important;
  cursor: not-allowed !important;
}
.new-quantity:read-only, .adjust-quantity:read-only {
  background-color: white !important;
  cursor: not-allowed !important;
}


#adjustSubmitButton {
  float: right;
}

//------------------------------------------------------------------------------------------------------
//                          'BATCH HISTORY' related CSS                                                |
//------------------------------------------------------------------------------------------------------

.adjustHistoryTable {
  margin-left: -15px;
  padding: 10px 0 5px 0;
  .dataTables_wrapper {
    margin-top: 15px;
  }
}

.adjust-history-table {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  tr td {
    border-right: 1px solid #ccc;
  }
}

.adjust-history-toolbar {
  position: relative;
  bottom: -7px;
  float: left;
  padding-left: 30px;
  display: inline;
  .nav {
    border-bottom: 0 !important;
  }
}

#adjustHistoryTableSearch {
  font-family: 'Abel', sans-serif;
  color: black;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}
#adjustHistoryTableLength {
  font-family: 'Abel', sans-serif;
  width: 55px;
  margin-left: 10px;
  padding-right: 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}

.adjust-history-expando {
  width: 95%;
  padding-top: 0;
  padding-bottom: 5px;
  border-top: 0;
  border-right: 2px solid #b5b5f7;
  border-left: 2px solid #b5b5f7;
  border-bottom: 2px solid #b5b5f7 !important;
  margin-bottom: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  thead tr th {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background-color: #eceaff;
    color: black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)
  }
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  tbody tr td {
    text-align: center;
    vertical-align: top;
    border-right: 1px solid #ddd;
    padding: 2px;
    margin: 0;
  }
  tbody tr td:nth-child(5) {
    border-right: 1px solid red;
  }
}

.deleteStockmovement {
  cursor: pointer;
  border: 1px solid red;
  color: #da2323;
  &:hover {
    background-color: #d2d2d2;
    color: #710808;
  }
}

//------------------------------------------------------------------------------------------------------
//                          'INDIVIDUAL HISTORY' related CSS                                           |
//------------------------------------------------------------------------------------------------------

.adjustHistoryIndividualTable {
  margin-left: -15px;
  padding: 10px 0 5px 0;
}

.adjust-history-individual-table {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  tr td {
    border-right: 1px solid #ccc;
  }
}

.adjust-history-individual-toolbar {
  position: relative;
  bottom: -16px;
  font-family: 'Abel', sans-serif;
  float: left;
  display: inline;
  .nav {
    border-bottom: 0 !important;
    li .inventoryFilterBy {
      margin: 0 0 0 10px;
      padding: 6px 12px 6px 12px;
      cursor: context-menu;
      font-weight: bold;
      color: black;
      border-top: 1px solid #ccc;
      border-right: 0;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: linear-gradient(to bottom, white, #d5dfe7);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    li .inventoryTypeFilter {
      button {
      margin: 0;
      border-right: 0;
      border-radius: 0;
      }
      .inventoryTypeFilterMenu {
        padding: 5px;
        border-top: 0;
        border-right: 2px solid #2e353d;
        border-bottom: 2px solid #2e353d;
        border-left: 2px solid #2e353d;
        li {
          padding: 0;
          border-right: 2px solid #2e353d;
          border-bottom: 2px solid #2e353d;
          border-left: 2px solid #2e353d;
          text-align: center;
          background: linear-gradient(to bottom, #d6d6d6, #e4e4e4);
          color: #a92b04;
          &:hover {
            background: linear-gradient(to top, #d6d6d6, #e4e4e4);
          }
          &.selected {
            background: linear-gradient(to bottom, white, #f3f3f3);
            color: #165407;
            &:hover {
              background: linear-gradient(to top, white, #f3f3f3);
            }
          }

          &:first-child {
            border-top: 2px solid #2e353d;
          }
          label {
            padding: 5px;
            margin: 0;
            width: 140px;
            user-select: none;
            input {
              display: none;
            }
          }
        }
      }
    }
    li .brandFilter {
      button {
      margin: 0;
      border-right: 0;
      border-radius: 0;
      }
      .brandFilterMenu {
        padding: 5px;
        border-top: 0;
        border-right: 2px solid #2e353d;
        border-bottom: 2px solid #2e353d;
        border-left: 2px solid #2e353d;
        li {
          padding: 0;
          border-right: 2px solid #2e353d;
          border-bottom: 2px solid #2e353d;
          border-left: 2px solid #2e353d;
          text-align: center;
          background: linear-gradient(to bottom, #d6d6d6, #e4e4e4);
          color: #a92b04;
          &:hover {
            background: linear-gradient(to top, #d6d6d6, #e4e4e4);
          }
          &.selected {
            background: linear-gradient(to bottom, white, #f3f3f3);
            color: #165407;
            &:hover {
              background: linear-gradient(to top, white, #f3f3f3);
            }
          }

          &:first-child {
            border-top: 2px solid #2e353d;
          }
          label {
            padding: 5px;
            margin: 0;
            width: 140px;
            user-select: none;
            input {
              display: none;
            }
          }
        }
      }
    }
    li .inventoryDateRangeFilter {
      button {
        margin: 0;
        border-right: 0;
        border-radius: 0;
      }
      ul {
        border: 2px solid #2e353d;
        li {
        width: 300px;
        margin: 0 5px 0 5px;
        border: 2px solid #2e353d;
        .input-daterange input {
          border-radius: 0;
          border: 0;
        }
        }
      }
    }
  }
}

#adjustHistoryIndividualTableSearch {
  color: black;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}
#adjustHistoryIndividualTableLength {
  width: 55px;
  margin-left: 10px;
  padding-right: 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}

#adjustHistoryIndividualDataTable_wrapper .top-row.paginate {
  margin-top: 10px;
}

#adjustHistoryIndividualDataTable_wrapper .dt-buttons {
  position: relative;
  bottom: -16px;
  .buttons-colvis {
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, white, #f3f3f3);
  }
  .dtExportOptions {
    margin-left: 10px;
    padding: 6px 12px 6px 12px;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, white, #f3f3f3);
  }
  .dt-button-collection {
    margin-top: 0;
    padding: 5px;
    border-right: 2px solid #2e353d;
    border-bottom: 2px solid #2e353d;
    border-left: 2px solid #2e353d;
    border-radius: 4px;
    display: inline-grid;
    .dt-button {
      padding: 5px;
      margin: 0;
      font-family: 'Abel', sans-serif;
      font-weight: bold;
      text-align: center;
      color: #a92b04;
      border-top: 1px solid #2e353d;
      border-right: 2px solid #2e353d;
      border-bottom: 1px solid #2e353d;
      border-left: 2px solid #2e353d;
      border-radius: 0;
      background: linear-gradient(to bottom, #d6d6d6, #e4e4e4);
      &:first-child {
        border-top: 2px solid #2e353d;
      }
      &:last-child {
        border-bottom: 2px solid #2e353d;
      }
      &.active {
        background: linear-gradient(to bottom, white, #f3f3f3);
        color: #165407;
        &:hover {
          background: linear-gradient(to top, white, #f3f3f3);
        }
      }
      &:hover {
        background: linear-gradient(to top, #d6d6d6, #e4e4e4);
        text-decoration: none;
      }

    }
    .buttons-excel, .buttons-pdf, .buttons-print, .buttons-copy {
      background: linear-gradient(to bottom, white, #f3f3f3);
      color: #165407;
      &:hover {
        background: linear-gradient(to top, white, #f3f3f3);
      }
    }
  }
  .dtColumnVisibility {
    border-left: 0;
    margin-left: 0;
    padding: 6px 12px 6px 12px;
  }
}
