//------------------------------------------------------------------------------------------------------
//                               "NEW TASK" related CSS                                                |
//------------------------------------------------------------------------------------------------------


#newTaskDiv {
  width: 1200px;
}

.newTaskContainer {
  width: 100%;
  padding: 0 25px 0 0;
}

.newTaskUploadsContainer {
  p {
    margin: 0;
  }
}

.newTaskUploadsTopBorder {
  width: 1140px;
  padding-top: 20px;
  margin: 0 0 0 -10px;
  border-bottom: 2px solid #b5b5f7;
}

.newTaskUploadsBottomBorder {
  width: 1140px;
  padding-bottom: 10px;
  margin: 0 0 0 -10px;
  border-top: 2px solid #b5b5f7;
}

.newTaskFileContainer {
  width: 100%;
  margin: 0 10px 0 -10px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  border-top: 0 !important;
  border-right: 2px solid #b5b5f7;
  border-left: 2px solid #b5b5f7;
  tbody tr td {
    .form-group {
      margin: 0;
    }
  }
  tbody tr td:first-child { // Left Column "File Name/File Select"
    width: 347px;
    padding: 0;
    border-right: 1px solid #ddd;
    .form-group input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(2) { // Second Column "Description"
    padding: 0;
    border-right: 1px solid #ddd;
    .form-group input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:last-child { // Right Column "Delete Entry"
    width: 175px;
    padding: 7px;
    .checkbox {
      color: red;
      margin: 0;
    }
  }
}

#newTaskSelectTable { // Table for selecting Task Type -- "Ecomm Order" or "Warranty Order"
  margin: 20px 0 10px 5px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  thead tr th {
    border-bottom-width: 0 !important;
  }
  tbody tr {
    background-color: #eee;
  }
  tbody tr td:nth-child(1) { // Left Column "Recipient"
    padding: 0;
    width: 20%;
    select {
      border: none;
      border-radius: 0;
      padding-left: 8px;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(2) { // Middle Column "Task Type"
    padding: 0;
    width: 20%;
    select {
      border: none;
      border-radius: 0;
      padding-left: 8px;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(3) { // Right Column "Due Date"
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        background-color: white;
        cursor: context-menu;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
  tbody tr td:nth-child(4) { // Right Column "Name"
    width: 40%;
    padding: 0;
    .form-group {
      margin: 0;
      input {
        border: none;
        border-radius: 0;
        background-color: white;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
}

.cursor-fix {
  cursor: context-menu;
}

.newEcommOrdersContainer {
  padding: 20px 30px 0 0;
}

.newEcommOrderContainer { // 1-Retailer | 2-Customer Name | 3-Order Number | 4-Order Date | 5-Remove |
  table-layout: fixed !important;
  margin: 0 10px 10px 5px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid #b5b5f7;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  thead tr {
    border-bottom: 0;
  }
  thead tr th {
    border-top: 0;
    border-bottom: 0;
  }
  thead tr th:first-child {
    width: 280px;
  }
  thead tr th:nth-child(2) {
    // width: 442px;
  }
  thead tr th:nth-child(5) {
    width: 75px;
  }
  tbody tr td {
    border-top: 0;
    border-bottom: 0;
    .form-group {
      margin: 0;
    }
  }
  tbody tr td:first-child { // Left Column "Retailer"
    padding: 0;
    a {
      border: 0;
      border-radius: 0;
      padding: 7px 12px 7px 12px;
    }
    select {
      border: none;
      width: 65%;
      float: right;
      border-radius: 0;
      padding-left: 8px;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(2) { // Second Column "Customer Name"
    padding: 0;
    span {
      width: 100% !important;
    }
    input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(3)  { // Third Column "Order Number"
    padding: 0;
    margin: 0;
    input {
      padding: 6px 2px 6px 6px;
      border: none;
      border-radius: 0;
      &:focus {
        box-shadow: inset 0px 0px 5px solid #b5b5f7;
      }
    }
  }
  tbody tr td:nth-child(4), tbody tr td:nth-child(5) { // Right Column "Order Date", "Remove"
    padding: 0;
    margin: 0;
    .form-group {
      margin: 0;
      input {
        padding: 6px 2px 6px 6px;
        border: none;
        border-radius: 0;
        &:focus {
          box-shadow: inset 0px 0px 5px solid #b5b5f7;
        }
      }
    }
  }
  tbody tr td:last-child { // Right Column "Delete Entry"
    vertical-align: middle;
    text-align: center;
    a {
      padding: 6px;
      text-align: midd;
      color: red;
      margin: 0;
    }
  }
}

.taskEcommOrderSelectBottomBorder {
  padding-bottom: 5px;
  margin: 0;
  border-top: 2px solid #b5b5f7;
}

#taskFirstSubmit {
  float: right;
}