//-----------------------------------------------------------------------------------
//          START 'UPLOADS INDEX' CSS                                               |
//-----------------------------------------------------------------------------------

#uploadsDiv {
  width: 1300px;
}

.uploadsTable, .productUploadsTable, .partUploadsTable {
  margin-left: -15px;
  padding: 10px 0 5px 0px;
  .dataTables_wrapper {
    margin-top: 15px;
  }
}

.uploads-table, .product-uploads-table, .part-uploads-table {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
  tr td {
    border-right: 1px solid #ccc;
  }
}

.uploads-toolbar, .productUploads-toolbar, .partUploads-toolbar {
  float: left;
  margin-right: 4px;
  padding-left: 30px;
  display: inline;
  .nav {
    border-bottom: 0 !important;
  }
}

#uploadsSearch, #productUploadsSearch, #partUploadsSearch {
  color: black;
  font-family: 'Abel', sans-serif;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  margin: 5px;
}
#uploadsLength, #productUploadsLength, #partUploadsLength {
  font-family: 'Abel', sans-serif;
  width: 55px;
  margin: 5px 10px 5px 10px;
  padding-right: 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15)
}

// .uploads-expando {
//   width: 95%;
//   padding-top: 0;
//   padding-bottom: 5px;
//   border-top: 0;
//   border-right: 2px solid orange;
//   border-left: 2px solid orange;
//   border-bottom: 2px solid orange !important;
//   margin-bottom: 5px;
//   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
//   tr:first-child td {
//     font-size: 1em;
//     font-weight: 200;
//     background-color: #646e78;
//     color: #d8d8d8;
//     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)
//   }
//   tr:last-child td {
//     text-align: center;
//     border-right: 1px solid #ddd;
//   }
// }
