//-----------------------------------------------------------------------------------
//          START 'USERS INDEX' JS                                                  |
//-----------------------------------------------------------------------------------

#usersTableDiv {
  padding-left: 0;
  left: 0;
  position: absolute;
  margin-bottom: 30px;
  z-index: 9997;
}

.usersTableHeader {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border-top-right-radius: 30px;
  border-bottom: 4px solid #d19b3d;
  background-image: url("gray-texture-1.jpg");
  color: #e1ffff;
  padding: 15px;
  margin-bottom: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.usersTable {
  padding: 20px 20px 20px 0px;
  background-image: url("light_gray_texture.jpg");
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 30px;
}

.users-table {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  vertical-align: middle;
}

.users-toolbar {
  float: left;
  padding-left: 62px;
  display: inline;
  .nav-tabs {
    border-bottom: 0;
  }
}
.users-toolbar > .nav > li > a {
  padding: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
}

#usersListSearch {
  color: black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  margin: 5px;
}
#usersListLength {
  width: 55px;
  margin: 5px 10px 5px 10px;
  padding-right: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
}

.users-list-toolbar {
  float: left;
  margin-right: 4px;
  padding-left: 62px;
  display: inline;
  .nav-tabs {
    border-bottom: 0;
  }
}
.users-list-toolbar > .nav > li > a {
  padding: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
}

.users-list-expando {
  width: 95%;
  padding-top: 0;
  padding-bottom: 5px;
  border-top: 0;
  border-right: 2px solid orange;
  border-left: 2px solid orange;
  border-bottom: 2px solid orange !important;
  margin-bottom: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.users-list-body-tr td {
  text-align: center;
}


.users-table-head td {
  text-align: left;
  background-color: #646e78;
  color: #252525;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3)
}
.users-table-body td {
  vertical-align: top;
  text-align: left;
  padding-top: 1px;
  background-color: #d1dbe4;
}

//-----------------------------------------------------------------------------------
//          START 'USERS DASHBOARD' CSS                                             |
//-----------------------------------------------------------------------------------


// Main Div
#showProfileDiv {
  padding-left: 0;
  position: absolute;
  left: -1000px;
  opacity: 0;
}

.showProfileHeader {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  border-top-right-radius: 30px;
  border-bottom: 4px solid #d19b3d;
  background-image: url("gray-texture-1.jpg");
  color: #e1ffff;
  padding: 15px;
  margin-bottom: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.showProfileForm {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-image: url("light_gray_texture.jpg");
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 30px;
  .nav-tabs {
    margin-left: 30px;
    border-bottom: 0;
  }
}

#showProfileForm, #showTaskForm, #showProductsForm, #showFilesForm {
  border: 1px #181c20;
  padding: 7px;
}

#showProfileTabs {
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 999;
  div.form-group.form-group-sm {
    margin-bottom: 5px;
    margin-right: 0;
    color: #252525;
    font-family: 'Abel', sans-serif;
    font-size: 1.1em;
  }
}


// 'show_profile_form' render

.show-profile-top {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.show-profile-vendor-name {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.show-profile-description {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

#show-profile-wrapper {
  float: right;
  width: 49%;
}

#showProfileNotes {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

#showProfileActivity {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

#showProfileTable {
  width: 49%;
  float: left;
  margin-top: 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);

  tbody tr td:nth-child(1) {
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(1) {
    td {
      text-align: center;
    }
  }
}

.show-product-edit-button {
  text-align: center !important;
  font-size: 1.1em;
  font-weight: bold;
}









