//-----------------------------------------------------------------------------------
//          START 'USERS INDEX' JS                                                  |
//-----------------------------------------------------------------------------------

#usersTableDiv {
  margin-right: 15px;
}

.usersTable {
  width: 100%;
  padding: 20px 0 20px 0px;
  background-color: #d1dbe4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 30px;
}

#usersListDataTable {
  tbody {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    tr td {
      padding: 0 !important;
      span {
        margin: 0;
        border: 0;
        border-radius: 0;
      }
    }
    tr:nth-child(odd) {
      td span {
        background-color: #f9f9f9;
        &:hover {
          background-color: #c0ffcb;
        }
      }
    }
  }
}

.users-list-toolbar {
  float: left;
  margin-right: 4px;
  padding-left: 30px;
  display: inline;
}

#usersListSearch {
  color: black;
  font-family: 'Abel', sans-serif;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  margin: 5px;
}
#usersListLength {
  font-family: 'Abel', sans-serif;
  width: 55px;
  margin: 5px 10px 5px 10px;
  padding-right: 0;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15)
}

.users-list-expando {
  width: 95%;
  padding-top: 0;
  padding-bottom: 5px;
  border-top: 0;
  border-right: 2px solid orange;
  border-left: 2px solid orange;
  border-bottom: 2px solid orange !important;
  margin-bottom: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  tr:first-child td {
    font-size: 1em;
    font-weight: 200;
    background-color: #646e78;
    color: #d8d8d8;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)
  }
  tr:last-child td {
    text-align: center;
    border-right: 1px solid #ddd;
  }
}

//-----------------------------------------------------------------------------------
//          START 'USERS DASHBOARD' CSS                                             |
//-----------------------------------------------------------------------------------


//          MAIN DIV                                                              |

#showProfileDiv {
  width: 850px;
}

#show-profile-form, #dashboard-assignment-form, #show-bug-reports-form, #show-changelog {
  padding: 15px 15px 5px 0;
}

//          'SHOW_PROFILE_FORM' RENDER                                              |

.show-profile-top {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.show-profile-vendor-name {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.show-profile-description {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

#show-profile-wrapper {
  float: right;
  width: 49%;
}

#showProfileNotes {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  margin-top: 15px;
  border: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

#showProfileActivity {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  tbody tr td:nth-child(1) {
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

#showProfileTable {
  width: 49%;
  float: left;
  margin: 15px 0 0 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);

  tbody tr td:nth-child(1) {
    text-align: right;
  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(1) {
    td {
      text-align: center;
    }
  }
}

.show-profile-password-button {
  padding: 1px 6px 1px 6px;
  margin: -4px 0 -4px -2px;
}

.show-profile-edit-button {
  text-align: center !important;
  font-weight: bold;
}

//          'DASHBOARD_ASSIGNMENT_FORM' RENDER                                      |

#dashboard-assignment-form {
  padding: 15px 10px 5px 0;
}

#assignmentsTabs .tab-content .tab-pane {
  padding: 0;
}

.assignments-tabs {
  li > a {
    padding: 3px !important;
  }
}

.dashboardAssignmentsTable {
  margin: 0;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: .9em;
  border: 2px solid orange;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
  thead {
    vertical-align: middle;
    tr {
      th {
        border-bottom: 0 !important;
      }
      th:first-child {
        width: 9%;
      }
      th:nth-child(2) {
        width: 25%;
      }
      th:nth-child(4) {
        width: 6%;
      }
      th:nth-child(5) {
        width: 9%;
      }
      th:nth-child(6) {
        width: 15%;
      }
    }

  }
  tbody tr:nth-child(odd) {
    background-color: white;
  }
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tbody tr td {
    text-align: center;
    vertical-align: middle;
  }
  tbody tr td:nth-child(5) {
    padding: 0;
    background: white;
  }
}

.activeButton {
  margin: 0;
  border: 0;
  border-radius: 0;
  background: white !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}



//          'SHOW_CHANGELOG' RENDER                                              |

.show-changelog-top {
  width: 100%;
  margin-bottom: 0;
  margin-top: 15px;
}

.show-changelog-name {
  text-align: center;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.changelog-block {
  font-family: 'Abel', sans-serif;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15)
}

.changelog_expand {
  cursor: pointer;
  margin: 10px 0 10px 0;
}
.changelog_expandable {
  display: none;
}

.changelog-block:first-child > .changelog-expandable {
  display: block !important;
}