<% @title = "SRS Portal | Master File List" %>
<div class="defaultDiv" id="uploadsDiv">
  <p class="defaultDivHeader">Master File List</p>
  <div class="container defaultForm">
      <ul class="nav nav-tabs">
        <li class="active"><a id="uploadsIndex" href="#uploads-index" class="tab-background" data-toggle="tab"><i class="fa fa-file-pdf"></i> Files</a></li>
        <li><a id="productUploadsIndex" href="#products-index" class="tab-background" data-toggle="tab"><i class="fa fa-file-image"></i> Product Images</a></li>
        <li><a id="partUploadsIndex" href="#parts-index" class="tab-background" data-toggle="tab"><i class="fa fa-file-image"></i> Part Images</a></li>
        <li><a id="comboItemUploadsIndex" href="#combo-items-index" class="tab-background" data-toggle="tab"><i class="fa fa-file-image"></i> Combo Item Images</a></li>
      </ul>
      <div class="defaultTabs">
        <div class="tab-content">
          <div id="uploads-index" class="tab-pane fade in active">
            <%= render "uploads_index" %>
          </div>
          <div id="products-index" class="tab-pane fade">
            <%#= render "products_index" %>
            </br><p>Temporarily Disabled</p>
          </div>
          <div id="parts-index" class="tab-pane fade">
            <%#= render "parts_index" %>
            </br><p>Temporarily Disabled</p>
          </div>
          <div id="combo-items-index" class="tab-pane fade">
            <%#= render "combo_items_index" %>
            </br><p>Temporarily Disabled</p>
          </div>
        </div>
      </div>
  </div>
</div>