<div class="show-profile-top">
  <p class="show-profile-vendor-name">Associated Warranty Orders Go Here</p>
  <p class="show-profile-description">Up to 10 orders will appear in a table with link to full history</p>
</div>