<div class="fields">
  <table class="table newFileContainer">
    <thead></thead>
    <tbody>
      <%= f.hidden_field :uploaded_by, :value => current_user.id %>
      <tr>
        <td>
          <%= f.file_field :file, hide_label: true, :style => "width:100%;" %>
        </td>
        <td>
          <%= f.text_field :description, hide_label: true, placeholder: "Description" %>
        </td>
        <td>
          <%= remove_child_upload_link "Remove File", f %>
        </td>
      </tr>
    </tbody>
  </table>
</div>